@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


#drum-machine {
	margin: 0 auto;
	width: 50%;
	font-family: 'Open Sans', sans-serif;
}

#text {
	text-align: center;
}

#bassElements {
	display: grid;
	grid-template-columns: 15vw 15vw 15vw;
	grid-template-rows: 15vh 15vh 15vh;
	grid-column-gap: 5px;
	grid-row-gap: 5px
}

button {
}

#display {
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	
}
